{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      "off",
      "tab",
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": [
      "off"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "no-cond-assign": [
      "error",
      "except-parens"
    ]
  },
  "globals": {
    "Inputmask": true,
    "jQuery": false,
    "define": false,
    "require": false
  }
}