{
  "rules": {
    "consistent-return": [1],
    "curly": [2, "multi-line"],
    "eol-last": [0],
    "eqeqeq": [2, "smart"],
    "indent": [
      1,
      "tab"
    ],
    "quotes": [
      1,
      "double",
      "avoid-escape"
    ],
    "no-cond-assign": [
      1,
      "except-parens"
    ],
    "new-cap": [0],
    "no-empty": [0],
    "no-loop-func": [0],
    "no-underscore-dangle": [0],
    "no-unused-vars": [2, {
      "vars": "all",
      "args": "none"
    }],
    "no-use-before-define": [
      2,
      "nofunc"
    ],
    "no-shadow": [0],
    "semi-spacing": [1],
    "strict": [0]
  },
  "env": {
    "browser": true
  },
  "globals": {
    "Inputmask": true,
    "jQuery": false,
    "jBone": false,
    "module": false,
    "require": false,
    "requirejs": false,
    "define": false
  }
}
