build/
test.html
jquery-1.10.2.js
dist/jQuery.InputMask.*.nupkg
node_modules/
bower_components/
npm-debug.log
.idea/
*.iml
qunit/qunit.js
qunit/qunit.js.map
**/*.map
dist/*.LICENSE
.vscode/
local.log
browserstack.err
