@import "../../Shared/colors.scss";
@import "../../Shared/constants.module.scss";

.Navigation {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  margin: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $main-color;
  min-width: min-content;
  align-self: center;
  @media only screen and (min-width: ($ScreenThreshold + 0px)) {
    align-self: initial;
    flex-direction: column;
    border-bottom-style: none;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: $main-color;
    padding-right: 10px;
  }

  & ul {
    & > hr {
      width: 100%;
    }
    & > ul {
      flex-direction: row;
      @media only screen and (min-width: ($ScreenThreshold + 0px)) {
        flex-direction: column;
        margin-top: 10px;
      }
    }
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    @media only screen and (min-width: ($ScreenThreshold + 0px)) {
      margin-bottom: 15px;
    }

    & > li {
      padding: 0;
      user-select: none;
      & > a {
        padding: 5px 10px 5px 10px;
        text-decoration: none;
        line-height: 1;
        font-size: 11px;
        color: $nav-link;
        display: block;
        text-align: center;
        & > strong {
          display: block;
          color: lighten($nav-link, 10);
        }
        & > img {
          height: 25px;
          width: 25px;
          vertical-align: middle;
        }
      }

      &:hover {
        background-color: $nav-background-hover;
      }
    }
  }

  & > a > img {
    height: 25px;
    width: 25px;
    vertical-align: middle;
  }
}
