@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
    padding: 50px;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
}

h1, h2, h3 {
    line-height: 1.1;
}

h1 {
    font-size: 28px;
}

h2 {
    color: #393939;
}

h3, h4, h5, h6 {
    color: #494949;
}

a, mi {
    color: #39c;
    font-weight: 400;
    text-decoration: none;
}

    mi:hover {
        cursor: pointer;
    }

    a small {
        font-size: 11px;
        color: #777;
        margin-top: -0.6em;
        display: block;
    }

.wrapper {
    max-width: 960px;
    min-width: 270px;
    margin: 0 auto;
}

blockquote {
    border-left: 1px solid #e5e5e5;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
}

code, pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    color: #333;
    font-size: 12px;
}

pre {
    padding: 8px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}

dt {
    color: #444;
    font-weight: 700;
}

th {
    color: #444;
}

img {
    max-width: 100%;
}

header {
}

    header ul {
        list-style: none;
        padding: 0;
        border-radius: 5px;
        border: 1px solid #d2d2d2;
        width: 271px;
        background: #eee;
        background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
        background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
        background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
        background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
        background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
        box-shadow: inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
        float: right;
    }

    header li {
        padding: 0px 20px;
        float: left;
        height: 40px;
        border-left: 1px solid #fff;
    }

    header ul a {
        line-height: 1;
        font-size: 11px;
        color: #999;
        display: block;
        text-align: center;
        padding-top: 6px;
        height: 40px;
    }

strong {
    color: #222;
    font-weight: 700;
}

header span {
    display: inline-block;
}

header ul a strong {
    font-size: 14px;
    display: block;
    color: #222;
}

menu {
    clear: both;
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    background: #eee;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
}

    menu mi {
       padding: 2px 5px 2px 5px;
	   font-weight: bold;
    }
    
    menu mi > * {
	   font-weight: bold;
    }

section {
    padding-bottom: 50px;
    margin: auto auto;
}

small {
    font-size: 11px;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px;
}

footer {
    bottom: 50px;
}

legend {
    padding-left: 5px;
    padding-right: 5px;
}

.borderless {
    border-style: none;
}

.detailForm {
    margin: 0 0 0 0;
    padding: 10px;
    width: auto;
}

    .detailForm > div {
        float: left;
        margin-right: 20px;
    }

        .detailForm > div > span, .detailForm > div > label {
            display: inline-block;
            white-space: normal;
            word-wrap: break-word;
            padding-right: 5px;
        }

        .detailForm > div > * {
            vertical-align: middle;
        }

        .detailform > div > input[type="text"] {
            width: 200px;
        }

        .detailForm > div > label, .detailForm > div > span {
            width: 150px;
        }

.comment {
    margin: 0 5px 0 5px;
	width: auto;
}
.comment > * {
	white-space: nowrap;
}

.eventIndicator {
    display: inline-block;
}

    .eventIndicator > span {
        margin: 0 5px 0 5px;
        padding: 2px 7px 2px 7px;
        background-color: #C0C0C0;
        color: whitesmoke;
        border-radius: 5px;
    }

        .fired, .fired > a {
            background-color: #F58220 !important;
            color: white !important;
            font-weight: bold !important;
        }
