$main-background: black;
$main-color: #c9d1d9;
$link-color: lightblue;
$link-color-visited: darken($color: lightblue, $amount: 25);
$nav-link: lightgray;
$nav-background-hover: #ffffff6e;
$scrollbar-thumb: gray;
$scrollbar-track: #ffffff40;
$fired-background: #f58220;
